h1,h2,a,button {
    background: -webkit-linear-gradient(blue,white, blue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.activeClass {
    background: -webkit-linear-gradient(blue,black);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p,span {
    font-size: 1.25rem;
    color: wheat;
}

a:hover {
    background: -webkit-linear-gradient(blue,black);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
