.Button {
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
}

.togglePassword {
    background: none;
    border: none;
    cursor: pointer;
    /* Media query isn't shown here. */
    /* font-size: var(--mobile-font-size);  */
    padding: 0;
    /* Display at the top right of the container */
    position: absolute;
    top: 0;
    right: 0;
}