.Input {
    width: 250px;
    height: 50px;
    font-size: 1rem;
    border-radius: 5px;
    margin: 20px 0;
    color:black;
}

.Input[type=email]:not(:placeholder-shown):invalid,.Input[type=password]:not(:placeholder-shown):invalid {
    color: red;
    outline-color: red;
}

.Input[type=email]:not(:placeholder-shown):valid, .Input[type=password]:not(:placeholder-shown):valid {
    color: green;
    outline-color: green;
}