.Layout {
    display: grid;
    grid-gap: 0rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: 100vh;
}

.Layout > header, .Layout > div {
    display: grid;
    place-items: center;
}

.Layout header {
    background: rgb(173,34,16);
background: linear-gradient(156deg, rgba(173,34,16,1) 72%, rgba(45,8,8,1) 84%);
}

.Layout > header a {
    text-decoration: none;
}

.Layout > div {
    background: rgb(173,34,16);
    background: linear-gradient(204deg, rgba(173,34,16,1) 72%, rgba(45,8,8,1) 84%);
    padding: 30px 20px;
}

.Layout .Navbar {
    /* position: absolute;
    bottom: 10px; */
    list-style-type: none;
}

.Layout .Navbar a {
    padding: 10px;
    text-decoration: none;
    font-size: 1.7rem;
}